html {
  box-sizing: border-box;
}
body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #26C6DA;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
}

h1{
  font-size: 2rem;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

.contenedor{
  max-width: 600px;
  margin: 0 auto;
}

.contenedor__formulario{
  background-color: #ffffff;
  padding: 3rem;
}
.container__resumen{
  padding: 1rem;
  text-align: center;
  background-color: #00838F;
  color: #ffffff;
  margin-top: 1rem;
}

.campo{
  display: flex;
  margin-bottom: 1rem;
  align-items: left;
}

label{
  flex: 0 0 100px;
}

select{
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
}

input{
  margin: 0 1rem;
}

button{
  background-color: #00838F;
  font-size: 16px;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px;
  transition: background-color .3s ease;
  margin-top: 2rem;
}
button:hover{
  cursor: pointer;
  background-color: #26C6DA;
}

p{
  background-color: rgb(127, 224, 237);
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

.texto{
  color: #00838F;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}

.error{
  background-color: red;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}